* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.huvudmenu { 
    color: rgba(94, 94, 94);
    /* background-color: red !important; */
    text-decoration: none;
    margin: 0% auto;

}
body
{
   margin: 0% auto;
   display: grid;
   grid: auto 1fr auto / auto;
   
}

.h1huvudmenu{
text-align: center;
background-color: rgba(0, 238, 255, 0.644);   
margin: 0 auto;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 50px;
}

.menu{
    /* background-color: rgb(0, 0, 0); */
    list-style: none;
    padding: 0%;
    margin: 0%;
    margin-top: 50%;
}

.Företagsbox{
    padding: 0%;
    margin: 0%;
    list-style: none;

    background-color: rgb(0, 238, 255, 0.644);

    display: flex;
    gap: 10%;
    justify-content: center;
    
}

li {
    /* background-color: blue; */
    
    padding-top: 1px;


}

li a {
    background-color: rgba(255, 255, 255, 0.856);
    /* display: inline-block; */
   text-decoration: none;
   color: rgb(94, 94, 94);
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: calc(7.31px + 1vw)
   
}

main {
    /* background-color: blueviolet; */
    /* overflow: scroll; */
    /* overflow-x: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px; 
    background-color: #7A7979;
    padding-inline: 100px;
}
main > *{ flex: 0 0 0; aspect-ratio: 1;}

/* .mittenhuvud{
list-style: none;
text-align: center;
display: flex; 
justify-content: center;
padding: 0%;
margin-top: 25%;

  

} */
.box1{
    background-image: linear-gradient(45deg, white, black);
/* outline-style: solid; */
/* outline-offset: 20vh; */
color: rgb(255, 255, 255);
display: grid;
/* grid-template: auto auto / auto auto; */
grid-template-columns:  auto auto;
margin: 0px;
padding: 0px;




}
.box1 div{
    display: flex;
    flex-direction: column;
}
.box1 h3{
    grid-column: 1 / -1;
    font-size: 75px;
    margin: 0px;
    color: black;
    background-color: aqua;
   text-align: center;
 }
.box2{
    
    background-image: linear-gradient(45deg, white, black);
    /* outline-style: solid; */
    /* outline-offset: 10vh; */
    color: rgb(0, 0, 0);
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.box2 h4{
font-size: bold;
font-size: 75px;
background-color: aqua;

margin: 0;

}