h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
    font-size: 100px;
    color: #f2f2f2;
    margin-top: 5px;
    margin-bottom: 5px;
}
body{
    background-color: #212121;
}

.flex-container {
    display: flex;
    margin: 0 auto;
    padding: 20px;
    font-size: px;
    width: 50%;
    margin-top: 100;
   
}

.div2{
    color: #f2f2f2;
    width: 100%;
    font-size: 15px;
}
.katt {
    width: 700px;
}
  