* {
    box-sizing: border-box;
}

.huvudmenu { 
    color: rgb(94, 94, 94);
    /* background-color: red !important; */
    text-decoration: none;
    margin: 0 auto;

}
body
{
   margin: 0 auto;
   background-color: gray;
}

.h1huvudmenu{
    text-align: center;
    background-color: rgba(0, 238, 255, 0.644);   
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 50px;
}
h2{

    text-align: center;
    font-size: 50px;
    margin: auto;
    }
    h3{
        
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 10px;
        margin: auto;
    }
    .full5 {
        background-color: rgb(136, 136, 136);
        max-width: 1920px;
        display: flex;
    
    }
    h4{
        text-align: center;
        font-size: 50px;
        margin: auto;
        
    }
    h5{
        text-align: center;
        color: white;
        font-size: 10px;
        margin: auto;
      
    }
    .användar7{
        margin-top: 250px;
    }
    .användar9{
       margin-top: 250px;
    }